<section
  class="flex flex-col justify-center items-center bg-gray-extra-light gap-6 p-5 h-full rounded-xl"
>
  <app-phone />
  <app-header [header]="'h2'" [center]="true">
    <ng-template headerDirective> Let's get you started </ng-template>
  </app-header>
  <app-paragraph [restricted]="true" [center]="true">
    Use the “Add new link” button to get started. Once you have more than one
    link, you can reorder and edit them. We’re here to help you share your
    profiles with everyone!
  </app-paragraph>
</section>
