<div
  class="size-48 flex flex-col justify-center items-center gap-4 bg-primary-extra-light rounded-xl fill-primary text-primary relative font-semibold"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  @if (!file) {
  <app-image />
  + Upload Image } @else {
  <div class="relative size-full grid place-items-center">
    <img
      class="w-full h-48 object-cover object-center rounded-lg"
      [src]="fileUrl"
      alt="Uploaded File"
    />
    @if (isHovered) {
    <div
      (mouseenter)="isHovered = true"
      (mouseleave)="isHovered = false"
      class="size-full z-[1] absolute cursor-pointer rounded-lg bg-[#0000009b] text-white fill-white font-normal flex flex-col justify-center items-center gap-2"
    >
      <app-image />
      Change Image
      <input
        class="opacity-0 size-full absolute hover:cursor-grabbing"
        type="file"
        multiple
        (change)="handleFiles($any($event).target?.files[0])"
      />
    </div>
    }
  </div>
  }
  <input
    (mouseenter)="isHovered = true"
    (mouseleave)="isHovered = false"
    class="opacity-0 size-full absolute hover:cursor-grabbing"
    type="file"
    multiple
    (change)="handleFiles($any($event).target?.files[0])"
  />
</div>
