<nav
  class="z-10 flex gap-4 justify-between p-4 rounded-xl bg-white items-center"
  [ngClass]="currentPath === '/preview' ? 'absolute w-full' : ''"
>
  <img
    class="hidden sm:block sm:size-8 rounded-lg"
    src="assets/svg/icon.svg"
    alt="Link icon"
  />
  <div class="flex gap-4">
    @for (link of links; track $index) {
    <app-tab [icon]="link.icon" [name]="link.name" [to]="link.to" />
    }
  </div>
  <a routerLink="/preview">
    <app-button name="Preview" variant="secondary" />
  </a>
</nav>
